
/*All pages*/
    html {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        margin: 0;
        font-weight: 400;
    }

    body{
        margin: 0;
        height: 86%;
    }

    .hidden{
        display: none;
    }

    a{
        text-decoration: none;
    }
    a:active{
        text-decoration: none;
    }

    
/* All Pages Navigation Bar*/

    #nav {
        height: 90px;
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 100;
        background-color: white;
    }

    #navbttn {
        float: right;
        right: 0;
        margin-top: 4%;
        margin-right: 3%;
        width: 100%;
        position: fixed;
        font-family: 'Ubuntu', sans-serif;

    }

    .navButton {
        float: right;
        text-decoration: none;
        color: black;
        margin-left: 3%;
    }

    #git{
        float: right;
        margin-right: 0;
    }

    .navButtonSelected {
        float: right;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 1.07rem;
        margin-top: -0.06%;
        margin-left: 3%;
        color: rgb(111,185,208);
    }

    #logo{
        float: left;
        height: auto;
        width: 100px;
        position: fixed;
        left: 2.4%;
        top: 1px;
    }

/* All Pages Footer */

    footer {
        background-color: rgb(111,185,208);
        height: 20%;
        bottom: 0;
        left: 0;
        right: 0;
        clear: both;
        width: 100%;
        float: left;
    }

    #copyrite {
        float: left;
        position: relative;
        opacity: 0.6;
        margin: 2%;
        margin-top: 2.4%;
        background-color: rgb(111,185,208);
        text-align: left;
    }

    #ack {
        text-align: right;
        width: 54%;
        height: 15%;
        float: right;
        margin: 2%;
        opacity: 0.6;
        background-color: rgb(111,185,208)
    }


/* Home page Main Body */

    #homePageMainContent{
        margin-top: 7%;
        }

    #luka {
        height: auto;
        width: 39%;
        float: right;
        display: flex;
        position: relative;
        margin-right: 10%;
        top: 4.3%;
        margin-top: 6%
    }

    #homet {
        float: left;
        height: auto;
        width: 30%;
        position: relative;
        font-size: 2.5rem;
        text-align: left;
        font-family: 'Fjalla One', sans-serif;
        top: 17.8%;
        margin-left: 10%;
        margin-top: 16%;
    }

    .red{
        color: rgb(236, 28, 36);
    }

/* Home Page Social Media */

    #social {
        height: 12.38%;
        position: relative;
        padding: 9.3% 0 3% 0;
        font-size: 2rem;
        float:left;
        clear: both;
        text-align: center;
        width: 100%;
    }

    a.socials{
        color: white;
    }

    a.socials:active{
        color: white;
        text-decoration: none;
    }
    .fa {
        padding: 15px 5px;
        font-size: 2rem;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 2px 0;
        background-color: black;
        border-radius: 50%;
    }
    .fa:hover {
        opacity: 0.7;
    }

/* What we've done page body */

#haveDoneH1{
    margin-top: 225px;
        margin-bottom: 6%;
        font-size: 2rem;
        clear: both;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
}

.previousWorkDiv{
    height: 300px;
    display: block;
    width: 25%;
    float: left;
    margin-left: 6.25%;
    margin-bottom: 80px;
}


#instCont{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.instaImg{
    height: 300px;
    display: block;
    width: 25%;
    float: left;
    margin-left: 6.25%;
    margin-bottom: 80px;
}

/* What We Do Page Body */
#whatcanwedo {
    margin-top: 225px;
    margin-bottom: 6%;
    font-size: 2rem;
    clear: both;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

p.whatWeDoP {
    opacity: 0.7;
    width: 100%;
    font-size: 1.2rem;
}

h2 {
    opacity: 0.7;
    font-weight: 300;
    font-size: 1.4rem
}

#bandc {
    width: 27%;
    float: left;
    margin-left: 4%;
    height: 56%;
    clear:both;

}

#di {
    width: 27%;
    float: left;
    margin-left: 5.5%;
    height: 56%;
}

#bd {
    width: 27%;
    float: left;
    margin-left: 5.5%;
    height: 56%;
}

#mpm {
    width: 27%;
    float: left;
    margin-left: 4%;
    height: 56%;
    clear:both;
}

#ld {
    width: 27%;
    float: left;
    margin-left: 5.5%;
    height: 56%;

}

#cwce {
    width: 27%;
    float: left;
    margin-left: 5.5%;
    height: 56%;
}

#personal {
    float: left;
    width: 100%;
}

#personal p{
    width: 100%;

}

#pheader{
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 1.93rem;
    clear: both;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.dot {
    font-weight: bold;
    font-size: 1.07rem;
}

#ep {
    width: 27%;
    float: left;
    margin-left: 4%;
    height: 56%;
}

#we {
    width: 27%;
    float: left;
    margin-left: 5.5%;
    height: 56%;
}

#pbc {
    width: 27%;
    float: left;
    margin-left: 5.5%;
    height: 56%;
}

#business img {
    width: 135%;
    height: auto;
    margin-left: -20%;
    overflow: hidden;
}

#personal img {
    width: 135%;
    height: auto;
    margin-top: 3%;
    margin-left: -16%;
    overflow: hidden;
}

/* Bottom Section */

#bottomsection {
    width: 100%;
    height: 30%;
    float: left;
    position: relative;
    margin-top: 10%;
    margin-bottom: -3px;
    left: 0;
    right: 0;
}

#bsheader{
    top: 6%;
    font-size: 3rem;
    text-align: left;
    float: left;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 9.5%;
    width: 76%;
    z-index: 10;
    position: absolute;
    color: white;
}

#gitbut {
    float: left;
    top: 50%;
    right: 16%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(111,185,208);
    color: black;
    padding: 0.63% 1.6%;
    border-radius: 8px;
    border: rgb(111,185,208) 1px solid;
    font-size: 1.43rem;
    cursor: pointer;
    font-weight:bold;
    opacity: 0.9;
    text-decoration: none;
    z-index: 20;
    position: absolute;
}

#bkgimg {
    z-index: -5;
    margin-bottom: 0;
    width: 100%;
    opacity: 0.7
}

/* Why Page Main Body */

    #whyPageContainer{
        margin-top: 200px
    }

    #because {
        margin-top: 225px;
        margin-bottom: 6%;
        font-size: 2rem;
        clear: both;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
    }

    #pic {
        height: auto;
        width: 27%;
        float: left;
        position: relative;
        left: 10%;
        margin-top: 1.8%;
        clear: left;
    }

    #red {
        color: rgb(236,28,36)
    }

    #info {
        float: right;
        width: 56%;
        text-align: left;
        margin-right: 3.5%;
        margin-bottom: 5%;
    }

    h4 {
        font-size: 1.2rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight:300;
        margin-bottom: 4%;
        opacity: 0.7;
        margin-top: 2.8%;
    }

    p {
        font-size: 1rem;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 4%;
        font-weight:300;
        opacity: 0.7;

    }

/* Get in touch page */

    #howcan {
        margin-top: 225px;
        margin-bottom: 6%;
        font-size: 2rem;
        clear: both;
        text-align: center;
        font-family: 'Fjalla One', sans-serif;
    }

    #form{
        position: relative;
        clear: both;
        display: block;

    }

    textarea {
        border: white 0px solid;
        resize: none;
        font-family: 'Ubuntu', sans-serif;
        background-color: rgb(231, 230, 230);
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 0.7%;
        padding-bottom: 0.7%;
    }


    #send {
        margin-top: 2%;
        display: block;
        font-family: 'Ubuntu', sans-serif;
        background-color: rgb(111,185,208);
        color: white;
        padding: 1% 2% 1% 2%;
        border-radius: 0.5%;
        border: rgb(111,185,208) 1px solid;
        font-size: 1rem;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
    }

    #formSubmit {
        text-align: centre;
        margin-left: 50%;
        margin-right: 50%;
        }

    #nbhEmail{
            color: black;
        }

    #nbhEmail:active{
        color: black;
    }


    #pickle {
        position: relative;
        text-align: center;
        margin-top: 5%;
        clear: both;
        font-size: 0.9rem;
        opacity: 0.7;
    }

/* Desktop screens */
    @media only screen and (min-width: 1281px) {
        html{
            font-size: 18px;
    }
        .fa{
            padding: 20px 16px
        }

        #nav{
            height: 125px;
        }

        #logo{
            width: 150px;
        }
        #whatcanwedo{
            margin-top: 270px;
        }

        #contact-form{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        #howcan{
            margin-top: 270px
        }

        #because{
            margin-top: 270px;
        }
    }

